.nav-bar-main {
  display: flex;
  justify-content: space-between;
}

.nav-bar-links {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

li:hover {
  background-color: lightgray;
}

.nav-bar-link.active {
  /* padding: 10px; */
  background-color: lightskyblue;
  /* border-style: solid; */

  /* text-align: center; */
}

.nav-bar-link {
  padding: 10px;
  background-color: lightgray;
  border-style: solid;

  text-align: center;
}
