<!-- <div class="container border">
<div class="row-g-1">
    <div class="col-9">
    <div class="row">
        <div class="col-12">
            <app-client-profile-overview-demographics></app-client-profile-overview-demographics>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <app-client-profile-overview-picture></app-client-profile-overview-picture>
        </div>
    </div>
</div>
</div> -->

<div class="row g-1">
    <div class="col">
        <app-client-profile-overview-demographics></app-client-profile-overview-demographics>
    </div>
    <div class="col-3">
        <app-client-profile-overview-picture></app-client-profile-overview-picture>
    </div>
</div>
<div class="row">
    <div class="col">
        <app-client-profile-overview-contact-info></app-client-profile-overview-contact-info>
    </div>
</div>

