<div class="header-container">
    <div class="header-container-column-left">
        <h3>Outreach Mapping Solutions</h3>
    </div>
    <div class="header-container-column-right">
        <div class="header-container-column-right-row-one">
            <app-user-info></app-user-info>
        </div>
        <div class="header-container-column-right-row-two">
            <app-set-date></app-set-date>
        </div>
        <div class="header-container-column-right-row-three">
            <app-search></app-search>
        </div>
    </div>
</div>







