
<div class="container">
    <div class="row justify-content-between">
        <div class="col-auto">
            <h3>Outreach Mapping Solutions</h3>
        </div>
        <div class="col-auto">
            <div class="row">
                 <app-user-info></app-user-info>
            </div>
            <div class="row">
                <app-set-date></app-set-date>
            </div>
            <div class="row">
                <app-search></app-search>
            </div>
        </div>
    </div>
    <hr>
</div>


