

<div class="row g-1">
    <div class="col">
        <app-client-map></app-client-map>    </div>
    <div class="col-3">
        <app-interaction-list></app-interaction-list>
    </div>
</div>
<div class="row">
    <div class="col">
        <app-interaction-form></app-interaction-form>
    </div>
</div>




<!-- Add this HTML structure for the popup and form in your template -->
<!-- <div id="map-container" style="width: 100%; height: 400px;"></div>

<div id="popup" class="ol-popup">
  <a href="#" id="popup-closer" class="ol-popup-closer"></a>
  <div id="popup-content">
    <form id="marker-form">
      <label for="marker-info">Marker Information:</label>
      <input type="text" id="marker-info" name="marker-info" required>
      <button type="button" id="save-button">Save</button>
      <button type="button" id="cancel-button">Cancel</button>
    </form>
  </div>
</div> -->


    <!-- <div id="tools">
      <a id="clear">Clear</a>
      <a id="download" download="features.json">Download</a>
</div> -->
<!-- <div id="map-container">

</div>
     -->



<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>OpenLayers</title>
    <style>
      @import "node_modules/ol/ol.css";
    </style>
    <style>
      html, body, #map-container {
        margin: 0;
        height: 100%;
        width: 100%;
        font-family: sans-serif;
      }
    </style>
  </head>
  <body>
    <div id="map-container"></div>
    <script src="./main.js" type="module"></script>
  </body>
</html> -->
